{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}

<div style="display: flex">
    <img src="https://drive.google.com/uc?export=view&id=1ncf1_ElycEP-0hzvK2b2joazAXe_XETo" width="600" height="500"
        style="padding-left: 25px;" />
    <img src="https://drive.google.com/uc?export=view&id=1con0lqyEKLm9Fxj_MKyFwrww9c5ac3WC" width="400" height="400"
        style="position:relative;
right:140px;
bottom:-20px;" />

    <div style="margin-left: 20px; padding-right: 100px;">
        <h1>Text on the Right Side</h1>
        <p>Kalna or Ambika Kalna is a town in Burdwan
            district situated beside the western banks of river
            Bhagirathi of West Bengal. This place is devoted
            to Goddess Kali, also known as Maa Ambika.
            Hindus and Bengalis, consider it as a religious
            place and a home to several famous historical
            sites. We went to Samudragarh-Dhatrigram
            cluster which is 15 kms away from Kalna, situated
            on the agriculturally rich alluvial plains between
            the Bhagirathi, Ajay, and Damodar rivers</p>
        <p>
            Kalna has a tropical rainy climate. This area has
            good amount of rain and temperature ranges
            from 17 to 18 °C in the winter to 30 to 32 °C in
            the summer. In Kalna, the wind blows with an
            average speed of 12.9 mph in July, which makes
            it the windiest month
        </p>
    </div>
</div>

{% endblock content %}