{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}

<div style="display: flex">
    <img src="https://drive.google.com/uc?export=view&id=1dDwbrIqjRwi-DumZ3ldUZEOBwF1sCla3" width="600"
        height="400" style="padding-left: 25px; padding-bottom: 25px;" />
        
    <div style="margin-left: 20px; padding-right: 100px; padding-left: 80px; padding-top: 20px;">
        <h1>ALPANA BASAK</h1>
        <p><b>Gender:</b> Female
            <br>
            <b>Age: </b>55 years
            <br>
            <b>Address: </b>Samudra Garh
            <br>
            <b>Level of Education: </b>NIL
            <br>
            <b>Years of practice: </b>30 years
            <br>
            <b>Hours devoted to craft: </b>10-15 hours
            <br>
            <b>Side incomes: </b>None
            <br>
            <b>Training: </b>Self Taught</p>

    </div>
</div>

{% endblock content %}