{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}

<div style="display: flex">
    <img src="https://drive.google.com/uc?export=view&id=1Xk5LvJCgxMGoBtc9m9dNFp_paor2uS5j" width="600"
        height="400" style="padding-left: 25px; padding-bottom: 25px;" />
        
    <div style="margin-left: 20px; padding-right: 100px; padding-left: 80px; padding-top: 20px;">
        <h1>JYOTISH DEBNATH</h1>
        <p>Jyotish Debnath belongs to a heritage 
            family of Jamdani weavers who have been involved in the 
            practice of Jamdani craft since 1930s when they shifted 
            from Bangladesh to India. Their inputs to the development 
            of Jamdani has been immense, they holistically manufacture fabrics with the inception of 600 and 700 count muslin, 
            the only two ever produced in the world, weighing just 10 
            grams. His son, Rajib Debnath is also involved in the family 
            business and handles the technology and marketing sector of the business. He used to work in the IT sector but soon 
            realised that he wanted to contribute to his own family tradition.</p>

    </div>
</div>

{% endblock content %}