{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}

<div style="display: flex">
    <img src="https://drive.google.com/uc?export=view&id=1XQjeSkblzeMmA4-hBy2CJZI2W7wSD3Wh" width="700"
        height="400" style="padding-left: 25px; padding-bottom: 25px;" />
        
    <div style="margin-left: 20px; padding-right: 100px; padding-left: 80px; padding-top: 20px;">
        <h1>KRISHNA BASAK</h1>
        <p>Krishna Basak from Samudragarh District has 
            been working with the National Institute of Fashion Technology for design development since many years. He is very fond 
            of Jamdani textiles and enjoys working and developing a 
            modernized version of the craft. Krishna Da works on more 
            contemporary designs with a minimal and modernist colour 
            palette. He makes various designs on Jacquard and he experiments with different designs. He puts in the effort of learning new techniques through online resources and then implements in his personal explorations. Krishan Da says that these 
            people are focused on sustaining their business and that they 
            do not really care about carrying forward the treasured tradition of Jamdani weaving. His family has been practicing 
            weaving for 4 generations. His father worked on original resham sarees which were made of pure raw materials which are 
            almost extinct now.</p>

    </div>
</div>

{% endblock content %}